<!-- Formulario de tarea -->
<div class="d-flex justify-content-center align-items-center" style="height: 30vh">
  <div class="card shadow-sm" style="width: 100%; max-width: 400px">
    <div class="card-body">
      <form [formGroup]="tareaForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre de la tarea:</label>
          <input id="nombre" formControlName="nombre" type="text" class="form-control" required />
        </div>

        <div class="mb-3 text-center">
          <button type="submit" class="btn btn-primary" [disabled]="!tareaForm.valid">Guardar tarea</button>
          <button *ngIf="isEditing" type="button" class="btn btn-secondary ms-2"
            (click)="cancelarEdicion()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Lista de tareas -->
<div class="container mt-4">
  <h2 class="text-center">📝 Lista de Tareas</h2>

  <div *ngIf="tareas && tareas.length > 0; else sinTareas">
    <div *ngFor="let tarea of tareas" class="card mb-3">
      <div class="card-body" (click)="!isEditing && cambiarEstadoTarea(tarea)">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="card-title mb-0">
            {{ tarea.nombre }}</h3>

          <!-- Contenedor de los botones -->
          <div class="d-flex align-items-center gap-2">
            <label class="form-check-label d-flex align-items-center gap-2">
              <input type="checkbox" class="form-check-input d-none" [checked]="tarea.realizada"
                (change)="!isEditing && cambiarEstadoTarea(tarea)" />

              <span class="d-inline-flex align-items-center justify-content-center rounded-circle"
                [ngClass]="tarea.realizada ? 'bg-success text-white' : 'bg-danger text-white'"
                style="width: 32px; height: 32px;">
                <i class="fas" [ngClass]="tarea.realizada ? 'fa-check' : 'fa-times'"></i>
              </span>

              <span [ngClass]="tarea.realizada ? 'text-success' : 'text-danger'">
                {{ tarea.realizada ? 'Realizada' : 'NO Realizada' }}
              </span>
            </label>

            <button class="btn btn-warning btn-sm" (click)="editarTarea(tarea); $event.stopPropagation()"
              [disabled]="isEditing"> ✏️ Editar </button>

            <button class="btn btn-danger btn-sm" (click)="eliminarTarea(tarea); $event.stopPropagation()"
              [disabled]="isEditing"> 🗑️ Eliminar </button>
          </div>
        </div>

        <div class="mt-2">
          <p>📅 <strong>Creada:</strong> {{ tarea.fechaCreacion | date }}</p>
          <p *ngIf="tarea.realizada">
            🗓️ <strong>Realizada:</strong> {{ tarea.fechaRealizacion | date }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #sinTareas>
    <p class="text-muted text-center">No hay tareas registradas.</p>
  </ng-template>
</div>