<div class="vh-100 d-flex justify-content-center align-items-center bg-light text-dark">
    <div class="text-center px-4">
        <h1 class="display-4 fw-bold mb-3">👋 Bienvenido a la Aplicación</h1>
        <p class="lead text-secondary mb-4">
            Esta es tu plataforma para gestionar tareas, personas y contactos de forma
            sencilla y rápida.
        </p>

        <div class="d-flex justify-content-center gap-3">
            <a routerLink="/landing" class="btn btn-primary btn-lg rounded-pill px-4 shadow">
                🚀 Navega por la aplicación según tus necesidades.
            </a>
        </div>

        <p class="mt-5 text-muted small">
            Realizado por Francisco Javier</p>
    </div>
</div>